// Products
.products {
  margin-bottom: 10px;

  .title {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 1200px;

    h2 {
      line-height: 1;
    }
  }

  .items {
    max-width: 1200px;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-column-gap: 100px;
  }
}

// Search
.search {
  position: relative;

  .icon {
    position: absolute;
    top: 8px;
    left: 10px;
  }

  .input {
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 10px 52px;
    // padding-left: 52px;
    font-size: 24px;
    color: #750000;

    background: linear-gradient(180deg, #FFFFFF 0%, #D9D9D9 100%);
  }

  .input::placeholder {
    color: #D9D9D9;
  }
}